.logo{
    position: fixed;
    left: 40px;
    top: 20px;
    height: 30px;
    
}

.avatar{
    position: fixed;
    right: 40px;
    top: 20px;
    height: 40px;
}
.navbar-items{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding: 20px;
    /* background-image: linear-gradient(360deg,transparent,rgba(37,37,37,1)); */

}